In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_london_merged = pd.read_csv("/home/jumar/Desktop/data_analisys/datasets/london_merged.csv")
df_london_merged

In [ ]:
df_london_merged.dtypes

In [ ]:
df_london_merged['timestamp'] = pd.to_datetime(df_london_merged['timestamp'])

In [ ]:
df_london_merged['hour'] = df_london_merged['timestamp'].dt.hour
df_london_merged['hour']

In [ ]:
df = df_london_merged.iloc[:,1:]
df

In [ ]:
np.sin(df['wind_speed']**2) + .18

In [ ]:
df['t1'] - df['t2']

In [ ]:
df['t1'].iloc[::4] - df['t2']

In [ ]:
df['t1'].iloc[::2].sub(df['t2'], fill_value=1000)

In [ ]:
df['t1'].dot(df['t1'])

In [ ]:
def test_function(x):
    y = x**2 + 1
    return y

In [ ]:
test_function(10)

In [ ]:
np.arange(-5, 6)

In [ ]:
np.arange(-5, 6).shape

In [ ]:
test_function(np.arange(-5, 6))

In [ ]:
df['hour'].apply(test_function)

In [ ]:
def test_function_2(x, a=0, b=0):
    y = x**2 + a*x + b
    return y

In [ ]:
test_function_2(10, a=4, b=10)

In [ ]:
df['hour'].apply(test_function_2, a=4, b=7)

In [ ]:
df.apply(lambda x: x.std(), axis=1)

In [46]:
df.applymap(lambda x: x * 1000)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,182000,3000.0,2000.0,93000.0,6000.0,3000.0,0.0,1000.0,3000.0,0
1,138000,3000.0,2500.0,93000.0,5000.0,1000.0,0.0,1000.0,3000.0,1000
2,134000,2500.0,2500.0,96500.0,0.0,1000.0,0.0,1000.0,3000.0,2000
3,72000,2000.0,2000.0,100000.0,0.0,1000.0,0.0,1000.0,3000.0,3000
4,47000,2000.0,0.0,93000.0,6500.0,1000.0,0.0,1000.0,3000.0,4000
...,...,...,...,...,...,...,...,...,...,...
17409,1042000,5000.0,1000.0,81000.0,19000.0,3000.0,0.0,0.0,3000.0,19000
17410,541000,5000.0,1000.0,81000.0,21000.0,4000.0,0.0,0.0,3000.0,20000
17411,337000,5500.0,1500.0,78500.0,24000.0,4000.0,0.0,0.0,3000.0,21000
17412,224000,5500.0,1500.0,76000.0,23000.0,4000.0,0.0,0.0,3000.0,22000
17413,139000,5000.0,1000.0,76000.0,22000.0,2000.0,0.0,0.0,3000.0,23000